/*
/*/
!.gitignore
!/btop/
!/nvim/
!/niri/
!/waybar/
!/zsh/
!/tmux/
/tmux/plugins/*
!/alacritty/
!/i3/
!/rofi/
!/polybar/
!/backgrounds/
!/picom/
!/mako/
!/swayidle/
!/input-remapper-2/
!.ideavimrc
!README.md

