" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

set scrolloff=5
set timeoutlen=1000
set relativenumber
set ignorecase
set smartcase
set clipboard+=unnamedplus
set incsearch

"blursed
imap jk <Esc>
imap kj <Esc>

map <c-w> /\u<Enter>:noh<Enter>
map <c-e> l/\u<Enter>h:noh<Enter>
map <c-b> ?\u<Enter>:noh<Enter>

map <Backspace> <Action>(Back)
map <Return> <Action>(Forward)
map gl <Action>(ShowHoverInfo)
map gh <Action>(GotoRelated)
map ge <Action>(GotoNextError)
noremap gE <Action>(GotoPreviousError)
map gn <Action>(ReSharperGotoNextErrorInSolution)
noremap gN <Action>(ReSharperGotoPreviousErrorInSolution)
map gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)

:vnoremap < <gv
:vnoremap > >gv

map <C-j> <C-d>
map <C-k> <C-u>
map <C-u> <C-u>zz
map <C-d> <C-d>zz
vmap <C-j> <C-d>
vmap <C-k> <C-u>
vnoremap <C-u> <C-u>zz
vnoremap <C-d> <C-d>zz

map <A-k> <Action>(MoveLineUp)
map <A-j> <Action>(MoveLineDown)
imap <A-k> <Action>(MoveLineUp)
imap <A-j> <Action>(MoveLineDown)

map K i<Return><Esc>

vmap <C-h> "ry :%s/<C-r>r/
